<div class="col-xs-12">
  <h2>Coordonnées bancaires</h2>

  <p>
    Vos coordonnées bancaires sont transmises à notre prestataire de paiement Stripe sans transiter par nos serveurs.
  </p>
</div>

<div class="col-md-4">
  <%= form_tag stripe_customers_path, id: "stripe_customer_form" do %>
    <span class="payment-errors"></span>
    <div class="form-group">
      <%= label_tag :number, "Numéro de carte" %>
      <%= text_field_tag :number, nil, name: nil, size: 20, class: "form-control", 'data-stripe' => 'number' %>
    </div>
    <div class="form-group">
      <%= label_tag :card_code, "Code de sécurité (CVC)" %>
      <%= text_field_tag :card_code, nil, name: nil, size: 4, class: "form-control", 'data-stripe' => 'cvc' %>
    </div>
    <div class="form-group">
      <%= label_tag :card_month, "Expiration (MM / AAAA)" %>
      <div class="row">
        <div class="col-xs-3">
          <%= text_field_tag :card_month, nil, name: nil, class: "form-control", 'data-stripe' => 'exp-month' %>
        </div>

        <div class="col-xs-4">
          <%= text_field_tag :card_year, nil, name: nil, class: "form-control", 'data-stripe' => 'exp-year' %>
        </div>
      </div>
    </div>
    <%= submit_tag "Valider", class: "btn btn-primary" %>
  <% end %>
</div>


<% content_for :js do %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <% javascript_tag do %>
    $(document).ready(function() {
      Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');

      $('#stripe_customer_form').submit(function(event) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    })
  <% end %>
<% end %>