<%= content_for(:title) do %>
  HipCleaner - Profil
<% end %>


<div class="col-xs-12">
  <h1>Mes informations</h1>
  <br>
  <br>
</div>

<%= form_for @user do |f| %>
  <div class="col-md-5">
    <div class="form-group">
      <%= f.label :first_name, "Prénom" %>
      <%= f.text_field :first_name, required: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :last_name, "Nom" %>
      <%= f.text_field :last_name, required: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, required: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :phone, "Téléphone" %>
      <%= f.text_field :phone, required: true, class: "form-control" %>
      <div class="hidden" id="invalid-phone">
        Merci d'entrer un numéro de téléphone valide
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <%= f.label :street, "Rue" %>
      <%= f.text_field :street, required: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :zipcode, "Code postal" %>
      <%= f.text_field :zipcode, required: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :city, "Ville" %>
      <%= f.text_field :city, required: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :address_details, "Digicode, bâtiment, étage..." %>
      <%= f.text_area :address_details, class: "form-control" %>
    </div>
  </div>
  <div class="col-xs-12">
    <%= f.submit "Enregistrer", class: "btn btn-primary" %>
  </div>
<% end %>

<%= content_for :js do %>
  <% javascript_tag do %>
    $('#user_phone').on('focusout', function() {
      var mobile = $(this).val();
      if(mobile.match(/^(0|\+33)6( ?\d{2}){4}$/) == null) {
        $(this).parent().addClass("has-error");
        $('#invalid-phone').removeClass("hidden")
      } else {
        $(this).parent().removeClass("has-error");
        $('#invalid-phone').addClass("hidden")
      }
    })
  <% end %>
<% end %>