<footer class="black-footer">
  <div class="container text-left">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <h4>HipCleaner</h4>
        <ul class="list-unstyled">
            <% if user_signed_in? %>
            <li><%= link_to 'Deconnexion', destroy_user_session_path, method: 'delete' %></li>
            <% else %>
            <li><%= link_to 'Inscription', new_user_registration_path %></li>
            <li><%= link_to 'Connexion', new_user_session_path %></li
            <% end %>
          <li><%= link_to 'Faq', faq_path %></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Contact</h4>
        <ul class="list-unstyled">
          <li><%= link_to 'Service Client', service_path %></li>
          <li><%= link_to 'Mail', "mailto:contact@hipcleaner.com" %></li>
           <li><%= link_to 'Blog', root_path %></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Conditions</h4>
        <ul class="list-unstyled">
          <li><%= link_to 'CGU', cgu_path %></li>
          <li><%= link_to 'Mentions Légales', "#" %></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Réseaux sociaux</h4>
          <%= link_to "https://www.facebook.com", target: "_blank" do %>
            <i class="fa fa-facebook-square fa-3x"></i>
          <% end %>
          <%= link_to "https://www.twitter.com", target: "_blank" do %>
            <i class="fa fa-twitter-square fa-3x"></i>
          <% end %>
      </div>
    </div>
  </div>
</footer>