<nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to root_path do %>
        <%= image_tag "Logo-horizontal-test-gris-rose.png", class: "navbar-brand", id: "logo" %>
        <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "COMMENT CA MARCHE", "#{root_path}#how-it-works-scroll-helper" %></li>
        <li><%= link_to "PRIX", "#{root_path}#pricing-scroll-helper" %></li>
        <li><%= link_to 'FAQ', faq_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'COMMANDER', new_order_path %></li>
        <% else %>
          <li><%= link_to 'INSCRIPTION', new_user_registration_path %></li>
          <li><%= link_to 'CONNEXION', new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>