<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <%= link_to new_order_path, class: "padding-none" do %>
        <%= image_tag "logo.png", class: "logo" %>
      <% end %>
    </li>
    <li>
      <%= link_to new_order_path do %>
        <i class="fa fa-check width-40"></i> Réserver un groom
      <% end %>
    </li>
    <li>
      <%= link_to tarifs_path do %>
        <i class="fa fa-euro width-40"></i> Tarifs
      <% end %>
    </li>
    <li>
      <%= link_to edit_user_path(current_user) do %>
        <i class="fa fa-user width-40"></i> Profil
      <% end %>
    </li>
    <li>
      <%= link_to orders_path do %>
        <i class="fa fa-list width-40"></i> Commandes
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out width-40"></i> Déconnexion
      <% end %>
    </li>
  </ul>
</div>