<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <%= link_to new_order_path, class: "padding-none" do %>
        <%= image_tag "logo.png", class: "logo" %>
      <% end %>
    </li>


    <li>
        <% if user_signed_in? %>
          <li><%= link_to 'DECONNEXION', destroy_user_session_path, method: 'delete' %></li>
        <% else %>
          <li><%= link_to 'Inscription', new_user_registration_path %></li>
          <li><%= link_to 'Connexion', new_user_session_path %></li>
        <% end %>
    </li>
    <li>
    </li>
    <li>
    </li>
    <li>
    </li>
  </ul>
</div>