<%= form_for @order do |f| %>
  <div class="form-group">
    <%= f.label :pickup_date, "Date de récupération" %>
    <%= f.text_field :pickup_date, required: true, value: Time.now.hour <= 16 ? Date.today.strftime('%d/%m/%Y') : (Date.today + 1).strftime('%d/%m/%Y'), class: "form-control datepicker" %>
  </div>
  <div class="form-group">
    <%= f.label :pickup_time, "A quelle heure" %>
    <%= f.select :pickup_time, Order::TIMERANGES, {}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :delivery_date, "Date de restitution" %>
    <%= f.text_field :delivery_date, required: true, value: Time.now.hour <= 16 ? (Date.today + 2).strftime('%d/%m/%Y') : (Date.today + 3).strftime('%d/%m/%Y'), class: "form-control datepicker" %>
    <span class="hidden">La date de restitution doit être au minimum 48h après la date de récupération</span>
  </div>
  <div class="form-group">
    <%= f.label :delivery_time, "A quelle heure" %>
    <%= f.select :delivery_time, Order::TIMERANGES, {}, {class: "form-control"} %>
  </div>
  <%= f.submit "Réserver", class: "btn btn-primary", id: "submit" %>
<% end %>