<%= form_for @order do |f| %>
  <div class="form-group">
    <%= f.label :pickup_date, "Date de récupération" %>
    <%= f.text_field :pickup_date, required: true, min: Time.now.hour < 17 ? Date.today : Date.today + 1, class: "form-control", 'data-provide' => 'datepicker' %>
  </div>
  <div class="form-group">
    <%= f.label :pickup_time, "A quelle heure" %>
    <%= f.select :pickup_time, Order::TIMERANGES, {}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :delivery_date, "Date de restitution" %>
    <%= f.date_field :delivery_date, required: true, min: Time.now.hour < 17 ? Date.today + 2 : Date.today + 3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :delivery_time, "A quelle heure" %>
    <%= f.select :delivery_time, Order::TIMERANGES, {}, {class: "form-control"} %>
  </div>
  <%= f.submit "Réserver", class: "btn btn-primary" %>
<% end %>