<%= content_for(:title) do %>
  HipCleaner - Votre pressing à domicile
<% end %>

<div class="jumbotron text-center">
 <h1>NOUS ALLONS VOUS FAIRE AIMER LE PRESSING</h1>
 <p>Offrez-vous le meilleur du pressing à domicile à Paris sans dépenser plus.</p>
 <br>
 <p><%= link_to "Découvrez HipCleaner", new_order_path, class: "btn btn-primary btn-lg", id: "btn-color" %></p>
</div>

<div class="why-hipcleaner text-center">
  <div id="how-it-works-scroll-helper"></div>
  <div class="title">
    <h2>Better & Cleaner en 48h</h2>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= image_tag ('ordinateur2.png') %>
        <div class="vertical-spacer"></div>
        <h4>Commande</h4>
        <p>Passez commande directement sur notre site internet. Vous choisissez l’heure et la date qui vous conviennent. On s’occupe du reste !</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag ('homy.png') %>
        <div class="vertical-spacer"></div>
        <h4>Collecte & Livraison</h4>
        <p>Simplifiez-vous la vie ! Un groom HipCleaner se déplace à votre domicile pour la collecte et la livraison de vos vêtements.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag ('vetement2.png') %>
        <div class="vertical-spacer"></div>
        <h4>Qualité à petit prix</h4>
        <p>HipCleaner vous fait bénéficier d’un service de pressing de qualité à domicile au même prix qu’un pressing traditionnel.</p>
      </div>
    </div>
  </div>
</div>

<div id="pricing">
  <div id="pricing-scroll-helper"></div>
  <div class="title text-center">
    <h2>Au même prix que votre pressing</h2>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-4 padding-none">
        <div class="table-responsive">
          <table class="table table-home table-hover">
            <thead>
              <tr>
                <th colspan="2" style="background-color:RGBA(40, 40, 40, 0.9);color:#fff;border:1px solid rgba(30, 30, 30, 0.9);"><h4 style="color:#fff" class="servicestitle text-center">Pressing</h4></th>
              </tr>
            </thead>
            <tbody style="border:1px solid rgba(30, 30, 30, 0.9)">
              <tr>
                <td>Costume</td>
                <td>16,00€</td>
              </tr>
              <tr>
                <td>Chemise</td>
                <td>4,00€</td>
              </tr>
              <tr>
                <td>Robe</td>
                <td>10,00€</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 padding-none">
        <div class="table-responsive">
          <table class="table table-home table-hover">
            <thead>
              <tr>
                <th colspan="2" style="background-color:RGBA(40, 40, 40, 0.9);color:#fff;border:1px solid rgba(30, 30, 30, 0.9);"><h4 style="color:#fff" class="servicestitle text-center">Blanchisserie</h4></th>
              </tr>
            </thead>
            <tbody style="border:1px solid rgba(30, 30, 30, 0.9)">
              <tr>
                <td>Drap</td>
                <td>6,00€</td>
              </tr>
              <tr>
                <td>Housse de couette</td>
                <td>12,00€</td>
              </tr>
              <tr>
                <td>Taie d'oreiller</td>
                <td>4,00€</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 padding-none">
        <div class="table-responsive">
          <table class="table table-home table-hover">
            <thead>
              <tr>
                <th colspan="2" style="background-color:RGBA(40, 40, 40, 0.9);color:#fff;border:1px solid rgba(30, 30, 30, 0.9);"><h4 style="color:#fff" class="servicestitle text-center">Ameublement</h4></th>
              </tr>
            </thead>
            <tbody style="border:1px solid rgba(30, 30, 30, 0.9)">
              <tr>
                <td>Couette</td>
                <td>19,00€</td>
              </tr>
              <tr>
                <td>Housse de canapé</td>
                <td>23,00€</td>
              </tr>
              <tr>
                <td>Oreiller synthétique</td>
                <td>10,00€</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 minimum-order">
        <p>Commande minimum de 20 €. Frais de livraison de 7€, offerts à partir de 35€.  <%= link_to 'Plus de prix ici', tarifs_path %></p>
      </div>
    </div>
  </div>
</div>

<div class="users text-center">
  <div class="title"><h2>Nos utilisateurs en parlent</h2></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="comment">
        <%= image_tag ('fille1.png') %>
          <p>Quel plaisir de se faire livrer son pressing à domicile. Je recommande chaleureusement ! </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="comment">
        <%= image_tag ('gars1.png') %>
          <p> HipCleaner pour moi c'est : ponctualité, rapidité et efficacité. Bref, un service impeccable ! </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="comment">
          <%= image_tag ('gars2.png') %>
          <p>J’ai adoré faire appel à HipCleaner. Un service de qualité, rapide et dont je ne peux déjà plus me passer ! </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="comment">
          <%= image_tag ('fille2.png') %>
          <p>Je travaille énormément et j’ai peu de temps à consacrer au pressing. Les prestations de HipCleaner m’ont vraiment convaincues. Mention spéciale au groom, pontuel et très aimable. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="map">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 title">
        <h1>HipCleaner est disponible à Paris</h1>
      </div>
      <div class="col-xs-12 hidden-xs">
      <%= image_tag ('map.png') %>
      </div>
    </div>
  </div>
</div>


<% content_for(:js) do %>
  <script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
  </script>
<% end %>

