<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "HipCleaner" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="<%= (yield(:description) || "").squish %>">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= yield(:stylesheets) %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/ga' %>
</head>
<body>
  <%= render "shared/navbar" %>

  <%= yield %>

  <%= render "shared/footer" %>
  <%= javascript_include_tag 'application' %>
  <% javascript_tag do %>
  $(function(){
  $(window).scroll(function(e){
    if ($(this).scrollTop() > 100px) {
      $(".navbar").css({
        "background": "rgba(0, 0, 0, 0.7)",
        "box-shadow": "0 0 2px black"
      });
    }
    else {
      $(".navbar").css({
        "background": "transparent",
         "box-shadow": "0 0 0px transparent"
      });
    }
  });
})
  <% end %>
  <%= yield(:js) %>
</body>
</html>
